<?xml version="1.0"?>
<launch>

  <!-- joy2vel node -->
  <node name="francor_gui" pkg="francor_rqt_plugins" type="my_plugin" output="screen">

  <remap from="/info_text_a" to="/joy2vel/mode"/>
  <remap from="/info_text_b" to="/info_text_b"/>
  <remap from="/info_text_c" to="/info_text_c"/>

  </node>

  <!-- <node name="start_scd_sh" pkg="francor_joy2vel" type="start_scd.sh" output="screen"/> -->

</launch>
