<?xml version="1.0"?>
<launch>

  <!-- joy node -->
  <node name="joy_node_schmiddey" pkg="joy" type="joy_node" output="screen">
    <param name="autorepeat_rate"      type="double" value="50.0 "   />
    <remap from="/joy" to="/joy_schmiddey" />
  </node>

  <!-- joy2vel node -->
  <node name="francor_joy2vel_node" pkg="francor_joy2vel" type="francor_joy2vel_node" output="screen">
    <param name="joy_maprate"      type="string" value="dings"   />
    <param name="rate"             type="double" value="50.0"   />
    <param name="max_lin_vel"      type="double" value="0.6 "   />
    <param name="max_ang_vel"      type="double" value="1.0"   />
    <param name="max_sh_vel"      type="double" value="35.0 "   />
    <param name="dead_zone_sh"     type="double" value="0.4 "   />
    <param name="pan_default"      type="int" value="0 "   />
    <param name="tilt_default"     type="int" value="30 "   />
    
    
    
    <remap from="/cmd_vel" to="/summit_xl_controller/command"/>
    <remap from="/joy" to="/joy_schmiddey" />

  </node>

  <!-- <include file="$(find francor_overlay_hack)/launch/default.launch"/> -->

  <!-- <node name="start_scd_sh" pkg="francor_joy2vel" type="start_scd.sh" output="screen"/> -->

</launch>
